<% if (site.posts.length){ %>
  <div class="panel margin-right margin-top">
    <div class="panel-head bg-main" style="background-color: #ffc400; color: black;"><%= __('Postagens') %></div>
    <div class="panel-body">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
