<% if (site.tags.length){ %>
  <div class="panel margin-right margin-top">
    <div class="panel-head bg-main" style="background-color: #ffc400; color: black;"><%= __('Tags utilizadas') %></div>
    <div class="panel-body">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>