<div class="layout bg-gray bg-inverse hidden-l">

</div>
<div class="container padding-big-top padding-big-bottom bg-white">
  <div class="line">
    <div class="xl12 xs2 xm2 xb1">
      <button class="button icon-navicon float-right" data-target="#header-demo2">
      </button>
      <img width="48" height="48" src="https://img.icons8.com/fluency/48/cheap-2--v1.png" alt="cheap-2--v1"/>
    </div>
    <div class=" xl12 xs10 xm10 xb11 padding-top nav-navicon" id="header-demo2">
      <div class="xs8 xm8 xb8">
        <ul class="nav nav-menu nav-inline">
          <% for (var i in theme.menu){ %>
            <li>
              <a href="<%- url_for(theme.menu[i]) %>" class="text-big">
                <strong><%= i %></strong>
              </a>
            </li>
            <% } %>
              <!-- <% if (theme.rss){ %>
                      <li><a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a></li>
                    <% } %> -->
        </ul>
      </div>
      <div class="xs4 xm4 xb3">
        <form>
           
        </form>
      </div>
    </div>
  </div>
</div>